
<style>
  .outer-container {
    width: 63.33mm;
    background-color: #f5f0e6;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .table-title {
    font-size: 12px;
    color: black;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .inner-table-container {
    width: 59mm;
    border: 1px solid black;
    padding: 0px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .answer-table {
    width: 100%;
    border-collapse: collapse;
  }

  .answer-table td {
    font-size: 10px;
    padding: 12px;
    border-bottom: 1px solid black;
    text-align: left;
  }

  .answer-table td:first-child {
    width: 20mm;
    border-right: 1px solid black;
    text-align: center;
  }

  .answer-table td:last-child {
    width: 37mm;
  }

  .answer-table tr:last-child td {
    border-bottom: none;
  }
</style>

<div class="outer-container">
  <div class="table-title">ANSWERS</div>
  <div class="inner-table-container">
    <table class="answer-table">
      <tbody>
        {% for answer in answers %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ answer }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
