
<style>
  #footer {
    width: 210mm;
    height: 15mm;
    background-color: #0097b2;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5mm;
    box-sizing: border-box;
  }

  .footer-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2mm;
  }

  .footer-title {
    font-size: 8px;
    font-weight: bold;
    margin: 0 0 1mm 0;
    text-align: center;
  }

  .block-1-row {
    display: flex;
    align-items: center;
    gap: 2mm;
    margin-bottom: 0.5mm;
  }

  .block-1-row:last-child {
    margin-bottom: 0;
  }

  .block-2-content {
    display: flex;
    align-items: center;
    gap: 2mm;
  }

  .block-2-links {
    display: flex;
    flex-direction: column;
    gap: 0.5mm;
  }

  .footer-line {
    font-size: 8px;
    text-align: center;
    margin-bottom: 0.5mm;
  }

  .footer-line:last-child {
    margin-bottom: 0;
  }

  .icon-youtube,
  .icon-instagram,
  .icon-telegram,
  .icon-brand {
    height: 3mm;
    width: auto;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 8px;
    display: flex;
    align-items: center;
    gap: 1mm;
  }

  a:hover u {
    text-decoration: none;
  }
</style>

<div id="footer">
  <div class="footer-block">
    <div class="block-1-row">
      <span class="footer-title">Connect with Kapil Sir</span>
      <a href="https://www.youtube.com/@Studyniti/featured" target="_blank">
        <img src="/static/youtube.png" alt="YouTube" class="icon-youtube" />
        <u>@Studyniti</u>
      </a>
    </div>
    <div class="block-1-row">
      <a href="https://www.instagram.com/iamkapilkathpal/" target="_blank">
        <img src="/static/instagram.png" alt="Instagram" class="icon-instagram" />
        <u>@iamkapilkathpal</u>
      </a>
      <a href="https://t.me/kkathpal" target="_blank">
        <img src="/static/telegram.png" alt="Telegram" class="icon-telegram" />
        <u>@kkathpal</u>
      </a>
    </div>
  </div>
  
  <div class="footer-block">
    <p class="footer-title">Level Up Your Preparation with:</p>
    <div class="block-2-content">
      <img src="/static/brand-icon.png" alt="Brand Icon" class="icon-brand" />
      <div class="block-2-links">
        <a href="https://play.google.com/store/apps/details?id=co.rios.czhgm" target="_blank"><u>"Learning Niti" App (Click to View)</u></a>
        <a href="https://www.learningniti.com" target="_blank"><u>"Learning Niti" Website (Click to View)</u></a>
      </div>
    </div>
  </div>
  
  <div class="footer-block">
    <p class="footer-title">Get Crossword Current Affairs Package:</p>
    <div class="footer-line">
      <a href="https://www.learningniti.com/courses/399651" target="_blank"><u>https://www.learningniti.com/courses/399651</u></a>
    </div>
    <div class="footer-line">
      For Enquiry Mail at:
      <a href="mailto:inquiry.learningniti@gmail.com"><u>inquiry.learningniti@gmail.com</u></a>
    </div>
  </div>
</div>
