
<style>
  #header {
    width: 210mm;
    height: 15mm;
    background-color: #0097b2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5mm;
    box-sizing: border-box;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 190mm;
  }

  .icon-youtube {
    height: 8mm;
    width: auto;
  }

  .header-text {
    text-align: center;
    flex-grow: 1;
    margin: 0 4mm;
  }

  .header-title {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 1mm 0;
  }

  .header-link a {
    color: white;
    text-decoration: none;
    font-size: 10px;
  }

  .header-link a:hover {
    text-decoration: underline;
  }
</style>

<div id="header">
  <div class="header-content">
    <a href="{{ link_url }}" target="_blank">
      <img src="/static/youtube.png" alt="YouTube" class="icon-youtube">
    </a>

    <div class="header-text">
      <p class="header-title">{{ title }}</p>
      <p class="header-link">
        <a href="{{ link_url }}" target="_blank">
          {{ link_text }}
        </a>
      </p>
    </div>

    <a href="{{ link_url }}" target="_blank">
      <img src="/static/youtube.png" alt="YouTube" class="icon-youtube">
    </a>
  </div>
</div>
