
<div id="header">
  <div class="header-content">
    <a href="{{ link_url }}" target="_blank">
      <img src="/static/youtube.png" alt="YouTube" class="icon-youtube">
    </a>

    <div class="header-text">
      <p class="header-title">{{ title }}</p>
      <p class="header-link">
        <a href="{{ link_url }}" target="_blank">
          {{ link_text }}
        </a>
      </p>
    </div>

    <a href="{{ link_url }}" target="_blank">
      <img src="/static/youtube.png" alt="YouTube" class="icon-youtube">
    </a>
  </div>
</div>
