
<style>
  #header {
    width: 210mm;
    height: 24mm;
    background-color: #0097b2;
    color: white;
    position: relative;
    padding: 2mm;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1mm;
  }

  .brand-name {
    grid-column: 1;
    grid-row: 1;
    font-size: 14px;
    align-self: center;
    padding-left: 2mm;
  }

  .doc-type {
    grid-column: 2;
    grid-row: 1;
    font-size: 12px;
    text-align: center;
    align-self: center;
  }

  .youtube-link {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2mm;
    gap: 1mm;
  }

  .youtube-icon img {
    height: 5mm;
    width: auto;
  }

  .youtube-text a {
    color: white;
    text-decoration: none;
    font-size: 10px;
  }

  .tagline {
    grid-column: 1 / -1;
    grid-row: 2;
    text-align: center;
    font-size: 16px;
    align-self: center;
  }

  .brand-heading {
    grid-column: 1 / -1;
    grid-row: 3;
    text-align: center;
    font-size: 12px;
    align-self: start;
  }

  .date {
    position: absolute;
    bottom: 1mm;
    left: 2mm;
    font-size: 10px;
  }

  .author {
    position: absolute;
    bottom: 1mm;
    right: 2mm;
    font-size: 10px;
  }
</style>

<div id="header">
  <div class="brand-name"><b>{{ brand_name }}</b></div>
  <div class="doc-type">{{ doc_type }}</div>
  <div class="youtube-link">
    <div class="youtube-icon">
      <a href="{{ youtube_link }}" target="_blank">
        <img src="/static/youtube-icon.png" alt="YouTube">
      </a>
    </div>
    <div class="youtube-text">
      <a href="{{ youtube_link }}" target="_blank">{{ youtube_text|safe }}</a>
    </div>
  </div>
  <div class="tagline"><b>{{ tagline }}</b></div>
  <div class="brand-heading"><b>{{ brand_heading }}</b></div>
  <div class="date">{{ date }}</div>
  <div class="author"><b>{{ author }}</b></div>
</div>
