
<div id="header">
  <div class="line"></div>
  <div class="brand-name"><b>{{ brand_name }}</b></div>
  <div class="doc-type">{{ doc_type }}</div>
  <div class="youtube-link">
    <div class="youtube-icon">
      <a href="{{ youtube_link }}" target="_blank">
        <img src="/static/youtube-icon.png" alt="YouTube">
      </a>
    </div>
    <div class="youtube-text">
      <a href="{{ youtube_link }}" target="_blank">{{ youtube_text|safe }}</a>
    </div>
  </div>
  <div class="tagline"><b>{{ tagline }}</b></div>
  <div class="brand-heading"><b>{{ brand_heading }}</b></div>
  <div class="date">{{ date }}</div>
  <div class="author"><b>{{ author }}</b></div>
</div>
