<div class="w-[210mm] h-[24mm] bg-[#0097b2] relative mb-[10mm]">
    <div class="absolute top-[8mm] left-[36mm] right-[36mm] h-0 border-t-[3px] border-white"></div>
    <div class="absolute top-[2mm] left-[8mm] text-[14px] text-white">{{ brand_name }}</div>
    <div class="absolute top-[7mm] left-[8mm] bg-black text-white text-[14px] p-[2px_5px]">{{ doc_type }}</div>
    <div class="absolute top-[12mm] left-[8mm] flex items-start">
      <div class="mr-[2mm]">
        <a href="{{ youtube_link }}" target="_blank">
          <img src="/static/youtube-icon.png" alt="YouTube" class="w-[9.37mm] h-[6.48mm]" />
        </a>
      </div>
      <div class="text-white underline text-[10px] leading-[1.2]">
        <a href="{{ youtube_link }}" target="_blank">{{ youtube_text }}</a>
      </div>
    </div>
    <div class="absolute top-[3mm] left-1/2 transform -translate-x-1/2 text-[10px] text-white text-center">{{ tagline }}</div>
    <div class="absolute top-[10mm] left-1/2 transform -translate-x-1/2 text-[36px] font-['Ahsing',_sans-serif] text-white text-center">{{ brand_heading }}</div>
    <div class="absolute top-[8mm] right-[8mm] bg-black text-white text-[18px] p-[2px_5px]">{{ date }}</div>
    <div class="absolute top-[18mm] right-[8mm] text-[14px] text-white">{{ author }}</div>
  </div>