
<style>
  .descriptive-block {
    width: 63.33mm;
    margin: 2mm 0;
  }

  .descriptive-info {
    font-size: 9px;
    line-height: 1.4;
    color: #333;
    text-align: justify;
    padding: 0 1mm;
  }

  .descriptive-info p {
    margin: 1mm 0;
  }

  .descriptive-info ul, .descriptive-info ol {
    margin: 1mm 0;
    padding-left: 4mm;
  }

  .descriptive-info li {
    margin: 0.5mm 0;
  }

  .descriptive-info a {
    color: #0097b2;
    text-decoration: none;
  }

  .descriptive-info a:hover {
    text-decoration: underline;
  }
</style>

<div class="descriptive-block">
  <div class="descriptive-info">
    <div>{{ content|safe }}</div>
  </div>
</div>
