<style>
    .timeline-header-constant {
      width: 210mm;
      height: 15mm;
      background-color: #1E1E1E;
      position: relative;
    }
  
    .white-bg {
      width: 100%;
      height: 100%;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    .text-idea {
      position: absolute;
      top: 6mm;
      left: 10mm;
      font-family: 'Afacad', sans-serif;
      font-size: 16px;
      font-weight: semibold;
      letter-spacing: 0.16em;
      color: black;
    }
  
    .text-timeline {
      position: absolute;
      top: 3mm;
      left: 55mm;
      font-family: 'Afacad', sans-serif;
      font-size: 32px;
      font-weight: medium;
      letter-spacing: 0.15em;
      color: black;
    }
  </style>
  
  <div class="timeline-header-constant">
    <div class="white-bg"></div>
    <div class="text-idea">QUICK-REVISION</div>
    <div class="text-timeline">TIMELINE</div>
  </div>  