<style>
    .timeline-header-main {
      width: 210mm;
      height: 60mm;
      background-color: #1E1E1E;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .white-bg {
      width: 100%;
      height: 100%;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    .text-idea {
      font-family: 'Afacad', sans-serif;
      font-size: 32px;
      font-weight: semibold;
      letter-spacing: 0.16em;
      color: black;
      z-index: 1;
      margin: 0;
    }
    
    .text-timeline {
      font-family: 'Afacad', sans-serif;
      font-size: 96px;
      font-weight: medium;
      letter-spacing: 0.15em;
      color: black;
      z-index: 1;
      margin: 0;
    }
  </style>
  
  <div class="timeline-header-main">
    <div class="white-bg"></div>
    <div class="text-idea">QUICK-REVISION</div>
    <div class="text-timeline">TIMELINE</div>
  </div>