<style>
    #footer-data {
      width: 210mm !important;
      height: 15mm;
      background-color: #0097b2;
      color: #fff;
      font-family: 'Afacad', Arial, sans-serif;
      display: flex;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    .footer-block {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  
    .footer-block:first-of-type {
      padding-left: 4mm;
    }
  
    .footer-title {
      font-weight: 700;
      margin: 0 0 2px 0;
      line-height: 1.2em;
    }
  
    .block-1-social-row {
      display: flex;
      align-items: center;
      margin-top: 2px;
      flex-wrap: nowrap;
    }
  
    .social-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
    }
  
    .icon-instagram {
      width: 15px;
      height: 15px;
      background-image: url(static/icons/instagram.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    .icon-youtube {
      width: 15px;
      height: 15px;
      background-image: url(static/icons/youtube.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    .icon-telegram {
      width: 15px;
      height: 15px;
      background-image: url(static/icons/telegram.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    .icon-brand {
      width: 30px;
      height: 30px;
      background-image: url(static/icons/brand-icon.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    .block-2-content {
      display: flex;
      align-items: flex-start;
      gap: 5px;
    }
  
    .block-2-links {
      display: flex;
      flex-direction: column;
      gap: 3px;
      align-items: flex-start;
    }
  
    .no-wrap-line {
      display: flex;
      align-items: center;
      gap: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    a {
      color: #fff;
      text-decoration: none;
    }
  </style>
  <div id="footer-data">
    <div class="footer-block">
      <span class="footer-title">Connect with Kapil Sir:</span>
      <div class="block-1-social-row">
        <a href="https://www.instagram.com/iamkapilkathpal/" target="_blank" class="social-link">
          <span class="icon-instagram"></span>
          <u>@iamkapilkathpal</u>
        </a>
        <a href="https://www.youtube.com/@Studyniti/featured" target="_blank" class="social-link">
          <span class="icon-youtube"></span>
          <u>@Studyniti</u>
        </a>
        <a href="https://t.me/kkathpal" target="_blank" class="social-link">
          <span class="icon-telegram"></span>
          <u>@kkathpal</u>
        </a>
      </div>
    </div>
    <div class="footer-block">
      <p class="footer-title">Level Up Your Preparation with:</p>
      <div class="block-2-content">
        <img src="static/icons/brand-icon.png" class="icon-brand">
        <div class="block-2-links">
          <a href="https://play.google.com/store/apps/details?id=co.rios.czhgm" target="_blank">
            <u>“Learning Niti” App (Click to View)</u>
          </a>
          <a href="https://www.learningniti.com" target="_blank">
            <u>“Learning Niti” Website (Click to View)</u>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-block">
      <p class="footer-title">Get Crossword Current Affairs Package:</p>
      <div class="footer-line">
        <a href="https://www.learningniti.com/courses/399651" target="_blank">
          <u>https://www.learningniti.com/courses/399651</u>
        </a>
      </div>
      <div class="footer-line no-wrap-line">
        <span>For Enquiry Mail at:</span>
        <a href="mailto:inquiry.learningniti@gmail.com">
          <u>inquiry.learningniti@gmail.com</u>
        </a>
      </div>
    </div>
  </div>