<style>
    .header-constant {
      width: 210mm;
      height: 15mm;
      background-color: #0097B2;
      position: relative;
    }
  
    .tagline-secondary {
      position: absolute;
      top: 5mm;
      left: 10mm;
      font-family: 'Afacad', sans-serif; 
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  
    .icon-brand {
      position: absolute;
      top: 8px;
      left: 180mm;
      right: 10mm;
      width: 42px;
      height: 42px;
      background-image: url('static/icons/brand-icon.png'); 
      background-size: cover;
    }
  </style>
  
  <div class="header-constant">
    <div class="tagline-secondary">LEARNING NITI</div>
    <div class="icon-brand"></div> 
  </div>
  